@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .inset-ring {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  
  .inset-ring-gray-300 {
    box-shadow: inset 0 0 0 1px rgb(209 213 219);
  }
  
  .shadow-xs {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}
